{"c4a4e425-77a8-4a9b-adb6-3b6f5786995d"
 {:y 88.0,
  :key "L",
  :w 221.0,
  :title "Last press",
  :h 102.0,
  :node-id "c4a4e425-77a8-4a9b-adb6-3b6f5786995d",
  :result-type :as-value,
  :code "(:last-press-block-number @@button.server.db/button-db)",
  :x 420.0},
 "1d6232bc-15a7-47e6-8176-9650a5f245bf"
 {:y 383.0,
  :key "T",
  :w 1298.0,
  :title "Tokens",
  :h 438.0,
  :node-id "1d6232bc-15a7-47e6-8176-9650a5f245bf",
  :result-type :as-table,
  :code "(:tokens @@button.server.db/button-db)",
  :x 17.0},
 "4b6ec65c-f099-4a97-a143-6a0ff5736b8c"
 {:y 126.0,
  :key "M",
  :w 368.0,
  :title "Mint Event",
  :h 241.0,
  :node-id "4b6ec65c-f099-4a97-a143-6a0ff5736b8c",
  :result-type nil,
  :code
  "(button.server.syncer/process-event :contract/button-token\n                                    {:event-type :contract-minted-event\n                                     :token-id \"${token-id}\" \n                                     :number ${number} \n                                     :weight ${weight} \n                                     :last-press-block-number ${last-press-block-number} \n                                     :owner-address \"${owner-address}\" \n                                     :image-hash \"${image-hash}\" })",
  :x 937.0}}
